.LoginFlag {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251, 228, 74, 0.602);
    height: 100vh;
        background-size: cover;
}

.LoginDiv {
    display: flex;
    justify-content: center;
    align-items: start;
   
    background-size: cover;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    height: 800px;
    width: 100%;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    background: transparent;
}

.loginBox {
    margin-top: 30px;
    background: transparent;
        background-color: rgba(51, 187, 255, 0.733);
        border-radius: 10px;
        border: 2px solid rgb(51, 25, 252);
        width: 100%;
        max-width: 400px;
        box-sizing: border-box;
}

.errorMessage {
    color: #ff0000;
        font-size: 20px;
        font-weight: 900;
}

h2 {
    margin-top: 50px;
        font-size: xx-large;
}